.sticker {
  width: 100%;
}

.sticker .paper, .sticker .paper-dark {
  height: 18rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: box-shadow 0.2s;
  transition: background-color  1s;
}

.sticker .paper .paper-header, .sticker .paper-dark .paper-header {
  display: flex;
  justify-content: end;
  background-color: gainsboro;
}

.sticker .paper .paper-content, .sticker .paper-dark .paper-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  white-space: pre-line;
}

.sticker .paper .paper-content .text-area, .sticker .paper-dark .paper-content .text-area {
  width: 95%;
}

.sticker .paper .paper-footer, .sticker .paper-dark .paper-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
}

.sticker .paper:hover, .sticker .paper-dark:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.24);
}

.sticker .paper-dark {
  background-color: #444444;
}

.sticker .paper-dark .paper-header {
  background-color: #8039f1;
}

.sticker .paper-dark .paper-content .MuiInputBase-input {
  color: #d6d6d6;
}

.sticker .paper-dark .paper-footer .time-staple {
  background-color: #8039f1;
  color: aliceblue;
}

.sticker .paper-dark .paper-footer button {
  color: #8039f1;
}
