.sticker{
    width:100%;
    .paper{  
        height:18rem;
        margin:2rem;
        display: flex;   
        flex-direction: column;    
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: box-shadow 0.2s;
        .paper-header{
            display: flex;
            justify-content: end;
            background-color:gainsboro;
        }
        .paper-content{
           flex: 1 1 auto;
           display: flex;
           justify-content: center;
<<<<<<< HEAD
           .text-area{              
               width: 90%;
               margin:auto;            
=======
           align-items: center;
           .text-area{
               width: 95%;
>>>>>>> 737b0ff9ccd9df60988a0e7077bbf128715aa4cd
           }
        }
        .paper-footer{       
            display: flex;
            justify-content: space-between; 
            align-items: center;             
            padding:0 0.5rem;
        }
        &:hover{
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.24);
        }
    }
}

