@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

.header{
    background: linear-gradient(to right, #74ebd5, #acb6e5)
    ;
    .top-bar {
        display: flex;
        height:5rem;
        margin: 0 1rem 0 1rem;
        justify-content:space-between;
        .title{
            width:8rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .logo,.titlename{
                font-size:1.5rem;
                font-family: 'Oleo Script', cursive;
            }          
        }
      .btn-area {
        list-style: none;
        li{
            display: inline-block;
            margin:0 0.8rem 0 0.8rem
        }
      }
    }
    .search-area{
        display: flex;
        justify-content: center;
        align-items: center;
        height:15rem;
    }
}

.sticker-list-area{
    width:100vw;
    display:flex;
    justify-content: center;
}
