@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap");
.header .top-bar, .header-dark .top-bar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
}

.header .top-bar .title, .header-dark .top-bar .title {
  width: 8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.header .top-bar .title .logo, .header-dark .top-bar .title .logo, .header .top-bar .title .titlename, .header-dark .top-bar .title .titlename {
  font-size: 1.5rem;
  font-family: 'Oleo Script', cursive;
}

.header .top-bar .btn-area, .header-dark .top-bar .btn-area {
  list-style: none;
  margin-right: 1rem;
}

.header .top-bar .btn-area li, .header-dark .top-bar .btn-area li {
  display: inline-block;
  margin: 0 0.8rem 0 0.8rem;
}

.header .top-bar .btn-area .button, .header-dark .top-bar .btn-area .button {
  text-decoration: none;
}

.header .search-area, .header-dark .search-area {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.header .search-area #search-input, .header-dark .search-area #search-input {
  width: 30rem;
  height: 1rem;
}

.sticker-list-area {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.header-dark {
  color: #8039f1;
}

.header-dark .top-bar {
  background-color: #2f2f2f;
}

.header-dark .top-bar .MuiButton-label {
  color: #8039f1;
}

.header-dark #search-input {
  color: aliceblue;
}
